# Игнорировать все файлы с расширением .log
*.log

# Игнорировать папку temp и все ее содержимое
temp/

# Игнорировать файл config.json
config.json


# игнорировать загруженные картинки
uploads/

# наа данный момент игнорировать все рецепты
recipes/