.recipe {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    }
    
    .recipe-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }
    
    .recipe-text {
    flex: 1;
    margin-right: 20px;
    }
    
    .recipe-image img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    }